{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta name="viewport" content="initial-scale=1.0, user-scalable=no">
	<meta charset="utf-8" />
	<title>Mozio Place finder</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="{% static "css/main.css" %}" type="text/css" />
	<script src="{% static "js/jquery-1.11.1.min.js" %}"></script>
	<script src="{% static "js/csrftokenajax.js" %}"></script>
	
	{% block script %}
	{% endblock %}
</head>

<body id="index" class="home">
	<div id="header">
		<div class="title">
		<h1>Moz Add Provider</h1>
		</div>
		{% block head %}
		{% endblock %}
	</div>
	<div id="container">
		{% block content %}
		{% endblock %}	
	</div>
</div>
</body>
</html>